.grid-button{
    height: 80px;
    width: 60px;
    font-size: 30px;
    border: 1px solid rgba(100, 100, 100, 0.2);
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;

}

.button-digit {
    background-color: whitesmoke;
}
.button-operator {
    background-color: palegreen;
}
.button-special {
    background-color: antiquewhite;
}
.button-equal {
    background-color: yellow;
}